<html>
    <head>
        <title>{{settings.title}}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="content-type" name="description" content="{{settings.description}}" />
        <meta http-equiv="content-type" name="keywords" content="{{settings.keywords}}" />
        <meta property="og:title" content="{{settings.title}}" />
        <meta property="og:description" content="{{settings.description}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{url}}" />
        <meta property="og:image" content="/portfolio/images/{{settings.splashImage}}" />

        <link rel="stylesheet" href="/css/galleriffic-5.css" />
        <link rel="stylesheet" href="/css/basic.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="fb-root"></div>
        <div data-role="content-root">
            <div id="pageLoader">
                loading <span id="progress"></span>
            </div>
        </div>
        <input id="facebookAppId" type="hidden" value="{{settings.facebookAppId}}">
        <input id="googleAnalyticsCode" type="hidden" value="{{settings.googleAnalyticsCode}}">
        <script data-main="/js/setup"  src="/lib/require.js"></script>
        <script type="text/javascript">
        
            let gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."),
                facebookAppId=document.querySelector('#facebookAppId').value,
                googleAnalyticsCode = document.querySelector('#googleAnalyticsCode').value

            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

            try {
                if (googleAnalyticsCode){
                    var pageTracker = _gat._getTracker(googleAnalyticsCode);
                    pageTracker._trackPageview();
                }
            } catch (err) { }

            (function(d, s, id) {
                if (!facebookAppId)
                    return

                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId="+facebookAppId;
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>
    </body>
</html>